[submodule "doc/api"]
	path = doc/api
	url = git@git.taler.net:api
[submodule "doc/prebuilt"]
	path = doc/prebuilt
	url = https://git.taler.net/docs.git
	branch = prebuilt
[submodule "contrib/gana"]
	path = contrib/gana
	url = https://gnunet.org/git/gana.git
