[submodule "doc/prebuilt"]
	path = doc/prebuilt
	url = https://git.taler.net/docs.git
	branch = prebuilt
[submodule "contrib/gana"]
	path = contrib/gana
	url = https://git.gnunet.org/gana.git
[submodule "contrib/wallet-core"]
	path = contrib/wallet-core
	url = https://git.taler.net/wallet-core.git
	branch = prebuilt
