.debhelper/
autoreconf.after
autoreconf.before
debhelper-build-stamp
files
*.log
libtalerexchange.substvars
libtalerexchange/
taler-exchange-dev.substvars
taler-exchange-dev/
taler-exchange.substvars
taler-exchange/
taler-exchange-database/
tmp/
libtalerexchange-dev.substvars
libtalerexchange-dev/
taler-auditor.postrm.debhelper
taler-auditor.substvars
taler-auditor/
taler-exchange.postrm.debhelper
