Source: taler-exchange
Section: net
Priority: optional
Maintainer: Christian Grothoff <grothoff@gnu.org>
Build-Depends:
 autoconf (>=2.59),
 automake (>=1.11.1),
 autopoint,
 bash,
 debhelper-compat (= 12),
 gettext,
 libgnunet-dev (>=0.17.1),
 libcurl4-gnutls-dev (>=7.35.0) | libcurl4-openssl-dev (>= 7.35.0),
 libgcrypt20-dev (>=1.8),
 libgnutls28-dev (>=3.2.12),
 libidn2-dev,
 libjansson-dev,
 libltdl-dev (>=2.2),
 libmicrohttpd-dev (>=0.9.71),
 libpq-dev (>=13),
 libsodium-dev (>=1.0.11),
 libunistring-dev (>=0.9.2),
 python3-jinja2,
 po-debconf,
 python3-dev,
 texinfo (>=5.2),
 zlib1g-dev
Standards-Version: 4.5.0
Vcs-Git: https://salsa.debian.org/debian/taler-exchange.git
Vcs-browser: https://salsa.debian.org/debian/taler-exchange
Homepage: https://taler.net/

Package: libtalerexchange
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 lsb-base,
 netbase,
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
 python3-sphinx,
 python3-sphinx-rtd-theme
Description: Libraries to talk to a GNU Taler exchange.
  The package also contains various files fundamental
  to all GNU Taler installations, such as the
  taler-config configuration command-line tool,
  various base configuration files and associated
  documentation.

Package: taler-exchange-database
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 lsb-base,
 netbase,
 ${misc:Depends},
 ${shlibs:Depends}
Description: Programs and libraries to manage a GNU Taler exchange database.
 This package contains only the code to setup the
 (Postgresql) database interaction (taler-exchange-dbinit
 and associated resource files).

Package: taler-exchange
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 libtalerexchange (= ${binary:Version}),
 taler-exchange-database (= ${binary:Version}),
 adduser,
 lsb-base,
 netbase,
 ucf,
 ${misc:Depends},
 ${shlibs:Depends}
Recommends:
  taler-exchange-offline (= ${binary:Version}),
  postgresql (>=13.0)
Description: GNU's payment system operator.
  GNU Taler is the privacy-preserving digital payment
  system from the GNU project. This package contains the
  core logic that must be run by the payment service
  provider or bank to offer payments to consumers and
  merchants.  At least one exchange must be operated
  per currency.
  In addition to the core logic, an exchange operator
  must also have a system running the "offline" logic
  which is packaged as taler-exchange-offline. It is
  recommended to keep the "offline" logic on a system
  that is never connected to the Internet. However, it
  is also possible to run the "offline" logic directly
  on the production system, especially for testing.
  Finally, an exchange operator should also be prepared
  to run a taler-auditor.

Package: taler-exchange-offline
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 libtalerexchange (= ${binary:Version}),
 adduser,
 lsb-base,
 netbase,
 ${misc:Depends},
 ${shlibs:Depends}
Description: Tools for managing the GNU Taler exchange offline keys.
 A GNU Taler exchange uses an offline key to sign its online
 keys, fee structure, bank routing information and other meta
 data. The offline signing key is the root of the Taler PKI
 that is then embedded in consumer wallets and merchant backends.
 This package includes the tool to download material to sign
 from the exchange, create signatures, and upload the resulting
 signatures to the exchange.

Package: taler-auditor
Architecture: any
Pre-Depends:
 ${misc:Pre-Depends}
Depends:
 libtalerexchange (= ${binary:Version}),
 taler-exchange-database (= ${binary:Version}),
 adduser,
 lsb-base,
 netbase,
 python3-jinja2,
 ${misc:Depends},
 ${shlibs:Depends}
Description: GNU's payment system auditor.
  GNU Taler is the privacy-preserving digital payment
  system from the GNU project. This package contains the
  auditor logic. It verifies that the taler-exchange run
  by a payment service provider is correctly performing
  its bank transactions and thus has the correct balance
  in its escrow account.  Each exchange operator is
  expected to make use of one or more auditors as part
  of its regulatory compliance.

Package: libtalerexchange-dev
Section: libdevel
Architecture: any
Depends:
 libtalerexchange (= ${binary:Version}),
 libgnunet-dev (>=0.17.1),
 libgcrypt20-dev (>=1.8),
 libmicrohttpd-dev (>=0.9.71),
 ${misc:Depends},
 ${shlibs:Depends}
Description: libraries to talk to a GNU Taler exchange (development)
 .
 This package contains the development files.
