[Unit]
Description=GNU Taler auditor helper checking outgoing wire debit operations
After=postgres.service
PartOf=taler-auditor.target

[Service]
User=taler-auditor-httpd
Type=simple
Restart=always
RestartSec=1s
RestartPreventExitStatus=9
ExecStart=/usr/bin/taler-helper-auditor-wire-debit -c /etc/taler-auditor/taler-auditor.conf -L INFO
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
RuntimeMaxSec=3600s

StandardOutput=journal
StandardError=journal
Slice=taler-auditor.slice

# Disable the service if more than 5 restarts are encountered within 5s.
# These are usually the systemd defaults, but can be overwritten, thus we set
# them here explicitly, as the exchange code assumes StartLimitInterval
# to be >=5s.
StartLimitBurst=5
StartLimitInterval=5s