[Unit]
Description=Taler Exchange Transfer Service
After=network.target postgres.service
PartOf=taler-exchange.target

[Service]
User=taler-exchange-wire
Type=simple
Restart=always
RestartMode=direct
RestartSec=1s
RestartPreventExitStatus=2 3 4 5 6 9
ExecStart=/usr/bin/taler-exchange-transfer -c /etc/taler/taler.conf
StandardOutput=journal
StandardError=journal
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
Slice=taler-exchange.slice
RuntimeMaxSec=3600s
