[Unit]
Description=GNU Taler payment system exchange aggregator service
PartOf=taler-exchange.service

[Service]
User=taler-exchange-aggregator
Type=simple
Restart=on-failure
ExecStart=/usr/bin/taler-exchange-aggregator -c /etc/taler/taler.conf
StandardOutput=journal
StandardError=journal
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
