[Unit]
Description=GNU Taler payment system exchange CS security module
AssertPathExists=/run/taler-exchange/secmod-cs
PartOf=taler-exchange.target

[Service]
User=taler-exchange-secmod-cs
Type=simple
Restart=always
RestartSec=100ms
RestartPreventExitStatus=9
ExecStart=/usr/bin/taler-exchange-secmod-cs -c /etc/taler-exchange/taler-exchange.conf -L INFO
StandardOutput=journal
StandardError=journal
PrivateTmp=no
PrivateDevices=yes
ProtectSystem=full
IPAddressDeny=any
Slice=taler-exchange.slice
