[Unit]
Description=GNU Taler payment system exchange EdDSA security module
AssertPathExists=/run/taler-exchange
PartOf=taler-exchange.service

[Service]
User=taler-exchange-secmod-eddsa
Type=simple
Restart=on-failure
ExecStart=/usr/bin/taler-exchange-secmod-eddsa -c /etc/taler/exchange-service-secmod.conf
StandardOutput=journal
StandardError=journal
PrivateTmp=no
PrivateDevices=yes
ProtectSystem=full
