[Unit]
Description=GNU Taler payment system auditor REST API
After=postgres.service network.target

[Service]
User=taler-auditor-httpd
Type=simple
Restart=on-failure
ExecStart=/usr/bin/taler-auditor-httpd -c /etc/taler-auditor.conf

[Install]
WantedBy=multi-user.target
