[Unit]
Description=Shared private runtime directory for the GNU Taler exchange

[Service]
Type=oneshot
RuntimeDirectory=taler-exchange-private
RuntimeDirectoryMode=2660
User=root
Group=taler-exchange-secmod
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
