[Unit]
Description=GNU Taler payment system exchange closer service
PartOf=taler-exchange.target
After=network.target postgres.service

[Service]
User=taler-exchange-closer
Type=simple
Restart=always
RestartMode=direct
RestartSec=1s
RestartPreventExitStatus=9
ExecStart=/usr/bin/taler-exchange-closer -c /etc/taler-exchange/taler-exchange.conf -L INFO
StandardOutput=journal
StandardError=journal
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
Slice=taler-exchange.slice
RuntimeMaxSec=3600s
