[Unit]
Description=GNU Taler auditor helper checking coin histories
After=postgres.service

[Service]
User=taler-auditor-httpd
Type=simple
Restart=always
RestartSec=1s
RestartPreventExitStatus=9
ExecStart=/usr/bin/taler-helper-auditor-coins -c /etc/taler/taler.conf -L INFO
PrivateTmp=yes
PrivateDevices=yes
ProtectSystem=full
RuntimeMaxSec=3600s
