[Unit]
Description=GNU Taler payment system exchange RSA security module
AssertPathExists=/run/taler-exchange/secmod-rsa
PartOf=taler-exchange.target

[Service]
User=taler-exchange-secmod-rsa
Type=simple
Restart=always
RestartSec=100ms
RestartPreventExitStatus=9
ExecStart=/usr/bin/taler-exchange-secmod-rsa -c /etc/taler-exchange/taler-exchange.conf -L INFO
StandardOutput=journal
StandardError=journal
PrivateTmp=no
PrivateDevices=yes
ProtectSystem=full
IPAddressDeny=any
Slice=taler-exchange.slice
