[Unit]
Description=GNU Taler exchange
After=postgres.service network.target
BindsTo=taler-exchange-httpd.service
BindsTo=taler-exchange-wirewatch.service
BindsTo=taler-exchange-aggregator.service
BindsTo=taler-exchange-closer.service

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes
